* {
  margin: 0;
  padding: 0;
}

.toolbar {
  height: 50px;
  border-bottom: 1px solid #64748b;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  gap: 1rem;
}

.back-link {
  text-decoration: none;
  color: #444;
  font-size: 0.85rem;
}

.board-title {
  font-weight: 600;
  font-size: 0.95rem;
}

.add-note-btn {
  font-size: 0.85rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0.25rem 0.65rem;
}

#userPresence {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#userPresence .avatar {
  cursor: default;
  margin-left: -0.5rem;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: white;
  background-color: #64748b;
  font-size: 0.7rem;
  font-weight: 600;
  padding: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#userPresence .avatar:nth-child(even) {
  background: #475569;
}

#userPresence .avatar:hover {
  transform: translateY(-2px);
  z-index: 10;
}

.board-canvas {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;
}

.note {
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.15);
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0.7rem 0 0.7rem;
  cursor: grab;
}

.note-author {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.45);
  user-select: none;
}

.note-delete {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.35);
  line-height: 1rem;
}

.note-delete:hover {
  color: red;
  font-size: 1.2rem;
}

.note-body {
  /* textarea to take the rest of the space */
  flex: 1;
  /* override textarea's default styling  */
  padding: 0 0.7rem 0.7rem 0.7rem;
  background: none;
  border: none;
  resize: none;
  font-size: 0.85rem;
  line-height: 1.5;
  cursor: text;
  /* width: 100%; */
}

.note-body:focus {
  outline: none;
}

#colorPicker {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.color-tile {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 100ms ease;
}

.color-tile:hover {
  transform: scale(1.2);
}

.color-tile.active {
  border-color: #444;
}
